<div class="navbar-mag">


  <h2 type="" class="dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
    Menu
  </h2>
  <div class="dropdown-menu dropdown-menu-right">
    <%= link_to 'Home', '#', class:'navbar-tab dropdown-item' %>
    <%= link_to 'Publications', '#', class:'navbar-tab dropdown-item' %>
    <%= link_to 'Projects', '#', class:'navbar-tab dropdown-item' %>
    <%= link_to 'Source code', '#', class:'navbar-tab dropdown-item' %>
    <%= link_to 'Resume', '#', class:'navbar-tab dropdown-item' %>
    <%= link_to 'Contact', '#', class:'navbar-tab dropdown-item' %>
  </div>


</div>




