<div class="navbar-mag">


  <h2 type="" class="dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
    Menu
  </h2>
  <div class="dropdown-menu dropdown-menu-right">
    <%= link_to 'Home', root_path, class:'navbar-tab dropdown-item' %>
    <%= link_to 'Publications', publications_path, class:'navbar-tab dropdown-item' %>
    <%= link_to 'Projects', projects_path, class:'navbar-tab dropdown-item' %>
    <%= link_to 'Source code', source_code_path, class:'navbar-tab dropdown-item' %>
    <%= link_to 'Resume', resume_path, class:'navbar-tab dropdown-item' %>
    <%= link_to 'Contact',  contact_path, class:'navbar-tab dropdown-item' %>
  </div>


</div>




