<div class="page-content">

  <div class="page-headers">
    <h1>Projects</h1>
    <hr class="blue-short">
    <p>Here are the open-source projects I am involved into:</p>
  </div>


  <%= link_to 'https://www.videolan.org/', target:"_blank" do  %>
  <div class="card-project">
    <div class="img-mob">
      <div class="img-container", id='orange-cone'>
          <%= image_tag "vlc-m-p.png", alt: "vlc-logo"%>
      </div>
    </div>
    <div class="project-desc">
      <h3>VLC Media Player</h3>
      <p>
        VLC media player is a highly portable multimedia player for various audio and video formats (MPEG-1, MPEG-2, MPEG-4, DivX, mp3, ogg, ...) as well as DVDs, VCDs, and various streaming protocols. It can also be used as a server to stream in unicast or multicast in IPv4 or IPv6 on a high-bandwidth network. It doesn't need any external codec or program to work.
      </p>
    </div>
  </div>
  <% end %>

  <%= link_to 'http://www.pastec.io/', target:"_blank" do %>
  <div class="card-project">
    <div class="img-mob">
      <div class="img-container", id='pastec-logo' >
        <%= image_tag "pastec.png", alt: "pastec-logo"%>
      </div>
    </div>
    <div class="project-desc">
      <h3>Pastec</h3>
      <p>
        Pastec is an open source image recognition index and search engine designed for mobile apps. It can recognize flat objects such as covers, packaged goods or artworks at various viewpoints and angles.
      </p>
    </div>
  </div>
  <% end %>

  <%= link_to 'https://www.videolan.org/projects/vlma/', target:"_blank" do  %>
  <div class="card-project">
    <div class="img-mob">
      <div class="img-container", id='VLMa-logo' >
        <%= image_tag "VLMa.png", alt: "VLMa-logo"%>
      </div>
    </div>
    <div class="project-desc">
      <h3>VLMa</h3>
      <p>
        Pastec is an open source image recognition index and search engine designed for mobile apps. It can recognize flat objects such as covers, packaged goods or artworks at various viewpoints and angles.
      </p>
    </div>
  </div>
  <% end %>

</div>







