<div class="page-content">

  <div class="page-headers">
    <h1>Publications</h1>
    <hr class="blue-short">
  </div>

  <div class="card-project">
    <div class="img-mob">
      <div class="" >
          <%= image_tag "CSUR15.png", alt: "CSUR15", class:'img-publication'%>
      </div>
    </div>
    <div class="project-desc">
      <h3>3d mesh compression: Survey, comparisons, and emerging trends </h3>
      <p>
        Adrien Maglo, Guillaume Lavoué, Florent Dupont and Céline Hudelot. <br> In ACM Computing Surveys (CSUR), 2015.
      </p>
    </div>
  </div>

  <div class="card-project">
    <div class="img-mob">
      <div class="" >
        <%= image_tag "SMI13.png", alt: "SMI13-logo", class:'img-publication', id:'SMI13-logo'%>
      </div>
    </div>
    <div class="project-desc">
      <h3>POMAR: Compression of Progressive Oriented Meshes Accessible Randomly</h3>
      <p>Adrien Maglo, Ian Grimstead and Céline Hudelot.</p>
      <p>In Computer & Graphics, Proceedings of Shape Modeling International 2013, Bournemouth, United Kingdom, July 2013.</p>
      <p><%= link_to 'Preprint', '/SMI13.pdf', target: "_blank" %></p>
      <p><%= link_to 'Source code', pomar_path %></p>
      <p><%= link_to 'Video demonstration', '/POMARdemo1.mp4', target: "_blank" %></p>
    </div>
  </div>

  <div class="card-project">
    <div class="img-mob">
      <div class="" >
        <%= image_tag "SMI12.png", alt: "SMI12-logo", class:'img-publication', id:'SMI12-logo'%>
      </div>
    </div>
    <div class="project-desc">
      <h3>Progressive Compression of Manifold Polygon Meshes</h3>
      <p>Adrien Maglo, Clément Courbet, Pierre Alliez and Céline Hudelot.</p>
      <p>In Computer & Graphics, Proceedings of Shape Modeling International 2012, College Station, USA, May 2012.</p>
      <p><%= link_to 'Preprint', '/SMI12.pdf', target: "_blank" %></p>
      <p><%= link_to 'Source code', ppmc_path %></p>
      <p><%= link_to 'Video demonstration', '/PPMC.mp4', target: "_blank" %></p>
    </div>
  </div>

  <div class="card-project">
    <div class="img-mob">
      <div class="" >
        <%= image_tag "CGI11.png", alt: "CGI11-logo", class:'img-publication', id:'CGI11-logo'%>
      </div>
    </div>
    <div class="project-desc">
      <h3>Cluster-based Random Accessible and Progressive Lossless Compression of Colored Triangular Meshes for Interactive Visualization.</h3>
      <p>Adrien Maglo, Ian Grimstead and Céline Hudelot.</p>
      <p>In Proceedings of Computer Graphics International 2011, Ottawa, Canada, June 2011.</p>
      <p><%= link_to 'Paper', '#'  %></p>
      <p><%= link_to 'Video demonstration', '#'  %></p>
    </div>
  </div>

  <div class="card-project">
    <div class="img-mob">
      <div class="" >
        <%= image_tag "web3d10.png", alt: "web3d10-logo", class:'img-publication', id:'web3d10-logo'%>
      </div>
    </div>
    <div class="project-desc">
      <h3>Remote scientific visualization of progressive 3D meshes with X3D. In Proceedings of the 15th international Conference on Web 3D Technology</h3>
      <p>Adrien Maglo, Guillaume Lavoué, Céline Hudelot, Ho Lee, Christophe Mouton and Florent Dupont.</p>
      <p>In Proceedings of Web3D '10, New York, USA, 109-116.</p>
      <p><%= link_to 'Preprint', '#'  %></p>
      <p><%= link_to 'Video demonstration', '#'  %></p>
    </div>
  </div>

</div>







