<div class="page-content">

  <div class="page-headers">
    <h1>Source Code</h1>
    <hr class="blue-short">
  </div>

  <%= link_to "https://github.com/magwyz" do  %>
  <div class="card-project mb40">
    <div class="img-mob">
      <div>
         <%= image_tag "github.png", alt: "logo Github", class:'img-publication', style:'height:150px; width:150px' %>
      </div>
    </div>
    <div class="project-desc">
      <h3>Find my latest work <br>on my Github account.</h3>
    </div>
  </div>
  <% end %>

  <%= link_to pomar_path do  %>
  <div class="card-project mb40">
    <div class="img-mob">
      <div>
        <%= image_tag "SMI13.png", alt: "SMI13-logo", class:'img-publication', style:'height:150px; width:150px' %>
      </div>
    </div>
    <div class="project-desc">
      <h3>POMAR: Compression of Progressive Oriented Meshes Accessible Randomly</h3>
    </div>
  </div>
  <% end %>

  <%= link_to ppmc_path do  %>
  <div class="card-project mb40">
    <div class="img-mob">
      <div>
        <%= image_tag "SMI12.png", alt: "SMI12-logo", class:'img-publication', style:'height:150px; width:150px'%>
      </div>
    </div>
    <div class="project-desc">
      <h3>Progressive Compression of Manifold Polygon Meshes</h3>
    </div>
  </div>
  <% end %>
</div>
